In [61]:
import pandas as pd
from typing import List, Dict

In [62]:
pdData = pd.read_excel(
    io="../data/_eventos_de_para_transnet.xlsx",
    usecols='A,B,C',
    dtype='string'
)

In [63]:
pdData

    Código Empresa Código Evento Domínio Código Evento Transnet
0                4                     6                     16
1                4                  8011                     16
2                4                   779                     16
3                4                   868                     23
4                4                  8150                     49
..             ...                   ...                    ...
96               4                  9491                   8870
97               4                   604                   8883
98               4                  1205                   8923
99               4                  9179                   9180
100              4                   366                   9996

[101 rows x 3 columns]

In [64]:
pdData['Código Empresa'] = pdData['Código Empresa'].astype(str).str.zfill(3)
pdData['Código Evento Transnet'] = pdData['Código Evento Transnet'].astype(str).str.zfill(4)

In [65]:
pdData.set_index(['Código Empresa', 'Código Evento Domínio'], inplace=True)

In [66]:
pdData

                                     Código Evento Transnet
Código Empresa Código Evento Domínio
004            6                                       0016
               8011                                    0016
               779                                     0016
               868                                     0023
               8150                                    0049
...                                                     ...
               9491                                    8870
               604                                     8883
               1205                                    8923
               9179                                    9180
               366                                     9996

[101 rows x 1 columns]

In [74]:
locTest = pdData.loc[('004','8011')]

In [71]:
locTest['Código Evento Transnet']

'0016'